@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff0c6;
  color: #333;
}
body.modal-open {
  overflow: hidden;
  height: 100vh; /* ensure no weird jumps */
}

.portfolio-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 0 auto;
  max-width: 1800px;
}

h1 {
  text-align: center;
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  color: #333;
  font-family: "Playfair Display", serif;
}

a {
  color: #0077cc;
}

.site-header,
.site-footer {
  z-index: 1;
  background-color: #ffdf88;
  color: #333;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.site-header nav ul {
  list-style: none;
  padding: 0;
}

.site-header nav ul li {
  display: inline-block;
  margin: 0 15px;
}

.site-header nav ul li a {
  color: #0077cc;
}

.header-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item.large {
  grid-column: span 3;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.grid-item.large img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item.large p {
  color: #666;
  font-size: 1.2rem;
}

.grid-item.small {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
  color: #0077cc;
}

.grid-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.grid-item.small:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  cursor: pointer;
}

.grid-link:hover .grid-item.small {
  color: #005fa3;
}

.grid-item.small:hover {
  text-decoration: underline;
}

/* Mobile style 768px width and below, phone */
@media (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }
}

.index-link {
  color: black;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.index-link:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.portfolio-link {
  text-decoration: none;
  color: black;
  padding: 8px 15px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
}

.portfolio-link:hover {
  background-color: rgba(255, 87, 51, 0.1);
  color: #ff5733;
  transform: scale(1.05);
}

.portfolio-link.active {
  background-color: #ff5733;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.logo {
  width: 48px;
  height: auto;
  z-index: 1;
}

.vertical-carousel {
  height: 30px;
  overflow: hidden;
  position: relative;
}

.vertical-carousel-item {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}

.vertical-carousel-item.active {
  opacity: 1;
  transform: translateY(0);
}

