.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: sticky;
  
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding-right: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}
.tools-bar {
    position: absolute;
    top: -42px;
    width: 100%;
    padding: 5px;
    display: flex;
    transition: all 0.3s ease;
}
.project-card:hover .tools-bar {
    top: 0;
}
.tool-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}
