.site-footer {
  padding: 2rem 1rem;
  border-top: none;
  background: linear-gradient(180deg, #00509E, #366499);
  color: #ffffff;
}


.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
}

.footer-section {
  flex: 1 1 250px;
  padding: 10px;
   display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  color: #f7d019;
}

.footer-section a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
  transition: color 0.3s ease;
}


.footer-section a:hover {
  color: #f7d019;
}


.footer-section i {
  margin-right: 5px;
  color: #ffffff;
  font-size: 1.2rem;
}

/* Mobile style 768px width and below, phone */
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
  }

}
.footer-bottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 1rem;
}