.site-header,
.site-footer {
  background: linear-gradient(360deg, #00509E, #225c9e);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.site-header nav ul li a {
  color: #f7d019;
  font-weight: 500;
  transition: color 0.3s ease;
}

.site-header nav ul li a:hover {
  color: #fff;
}
h1 {
  color: #fff;
}
.site-header nav ul {
  list-style: none;
  padding: 0;
}

.site-header nav ul li {
  display: inline-block;
  margin: 0 15px;
}

.logo {
  width: 32px;
  height: auto;
  z-index: 1;
}
.index-link{
    color: #f7d019;
}